.about{
    padding-top: 25px;
    @include media(1400){
        padding-top: 60px;
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
        @include media(1400){
            flex-direction: column;
        }
    }
    &__img{
        line-height: 0;
        border-radius: 20px;
        overflow: hidden;
        width: 100%; 
        max-width: 625px;
        position: relative;
        height: 0;
        padding-bottom: 50%;
        @include media(1400){
            padding-bottom: 70%;
        }
        @include media(992){
            padding-bottom: 90%;
        }
        @include media(480){
            padding-bottom: 130%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: calc(100% + 100px);
        }
    }
    &__right{
        width: 100%; 
        max-width: 625px;
        padding-top: 14px;
        @include media(1400){
            padding-top: 0;
        }
    }
    &__subtitle{
        margin-bottom: 60px;
        color: #1F1F1F;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        @include media(1400){
            margin-bottom: 30px;
        }
        @include media(480){
            font-size: 24px;
        }
        span{
            color: #00A9DA;
        }
    }
    &__p{
        color: #1F1F1F;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }
}