.faq{
    margin-top: 120px;
    @include media(1400){
        margin-top: 60px;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        gap: 80px;
        @include media(1400){
            flex-direction: column;
            gap: 30px;
        }
    }
    &__info{
        max-width: 466px;
        width: 100%;
    }
    &__p{
        color: #1F1F1F;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        a{
            color: #00A9DA;
            text-decoration-line: underline;
        }
    }
    &__content{
        max-width: 734px;
        width: 100%;
    }
}