.form{
    padding-top: 120px;
    @include media(1400){
        padding-top: 60px;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        @include media(992){
            flex-direction: column;
            gap: 60px;
        }
        @include media(768){
            gap: 40px;
        }
    }
    &__title{
        margin-bottom: 30px;
    }
    &__desc{
        color: #1F1F1F;
        max-width: 516px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(992){
            max-width: 470px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        max-width: 516px;
        width: 100%;
        @include media(1400){
            max-width: 470px;
        }
    }
    &__btn{
        width: 100%;
        padding: 21px;
        margin-top: 60px;
        margin-bottom: 10px;
        @include media(480){
            font-size: 16px;
            margin-top: 40px;
        }
    }
    &__input{
        &+.form__input{
            margin-top: 30px;
            @include media(480){
                margin-top: 20px;
            }
        }
    }
    &__p{
        margin-left: auto;
        margin-right: auto;
        color: #1F1F1F;
        text-align: center;
        opacity: 0.7;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(480){
            font-size: 16px;
        }
    }
}