mixin about()
    section.section.about#about 
        .about__body.container 
            h2.title.about__title О центре
            .about__content 
                .about__img 
                    img(src="@img/about-img.png", alt="" draggable="false")
                .about__right 
                    h3.about__subtitle #[span Осьминожки] – это центр детского плавания в Казани. 
                    p.about__p Занятия проводятся специалистами имеющие богатый  опыт работы в данной области. Тренер всегда находится в воде с ребёнком, а родители наблюдают за увлекательным процессом (самим находиться в воде не нужно). <br><br>Вода в бассейнах теплая (32-34 градуса), проходит тщательную фильтрацию, очистку через систему песочно-угольных фильтров и соответствует нормам СЭС. <br><br>Мы проводим индивидуальные и групповые занятия. Это дает более быстрый и качественный результат. Наша цель – укрепление здоровья малышей, знакомство с водой и дальнейшее обучение плаванию по мере их взросления.