mixin clients()
    section.section.clients
        .clients__body.container 
            h2.title Наша #[span любовь]#[br]с клиентами взаимна
            .clients__content 
                .clients__img
                    img(src="@img/client-1.png", alt="" draggable="false")
                .clients__img
                    img(src="@img/client-2.png", alt="" draggable="false")
                .clients__img
                    img(src="@img/client-3.png", alt="" draggable="false")
                .clients__img
                    img(src="@img/client-4.png", alt="" draggable="false")
                .clients__img
                    img(src="@img/client-5.png", alt="" draggable="false")
                .clients__img
                    img(src="@img/client-6.png", alt="" draggable="false")