mixin discounts()
    section.section.discounts#discounts
        .discounts__body.container
            .discounts__title.title Актуальные акции
            .discounts__content 
                .discounts__item 
                    .discounts__item-img 
                        img(src="@img/discount-1.png", alt="" draggable="false")
                    p.discounts__item-p #[span Скидка 10%] на абонемент именинникам 10 дней до&nbsp;и&nbsp;после&nbsp;Дня рождения
                .discounts__item 
                    .discounts__item-img 
                        img(src="@img/discount-2.png", alt="" draggable="false")
                    p.discounts__item-p #[span Скидка 15%] на дневные абонементы
                .discounts__item 
                    .discounts__item-img 
                        img(src="@img/discount-3.png", alt="" draggable="false")
                    p.discounts__item-p #[span Скидка 8%] при покупке каждого #[span ТРЕТЬЕГО] абонемента