mixin faq()
    section.section.faq
        .faq__body.container 
            .faq__info 
                h2.title.faq__title Часто задаваемые вопросы
                p.faq__p Мы собрали ответы на частые вопросы от родителей. Ответим на все интересующие вопросы по телефону #[a(href="tel:+79520464872") +7 (952)-046-4872]
            .faq__content 
                .accordion
                    button(type='button').accordion__button 
                        span Какая польза раннего плавания детей
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.0001 45.8337C36.4584 45.8337 45.8334 36.4587 45.8334 25.0003C45.8334 13.542 36.4584 4.16699 25.0001 4.16699C13.5417 4.16699 4.16675 13.542 4.16675 25.0003C4.16675 36.4587 13.5417 45.8337 25.0001 45.8337Z" fill="#00A9DA"/>
                            <path d="M16.6666 25H33.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 33.3337V16.667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .accordion__content 
                        p.accordion__p Плавание — удивительный вид спорта. Здесь задействованы почти все основные мышцы организма, а нагрузка на позвоночник (и, следовательно, опасность травмы) минимальна. Плавание развивает сердечно-сосудистую систему, повышает выносливость и оказывает благотворное влияние на дыхание: лёгкие расправляются, а их объём увеличивается. Большинство новорождённых обожают воду: они целых девять месяцев плескались в мамином животике, и поэтому в ванне им пока комфортнее, чем на суше. Особенно полезна вода для недоношенных детей: тело в ней весит меньше, и малыши быстрее догоняют своих «сухопутных» сверстников, родившихся с нормальным весом.
                .accordion
                    button(type='button').accordion__button 
                        span Какие справки нужны ребёнку?
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.0001 45.8337C36.4584 45.8337 45.8334 36.4587 45.8334 25.0003C45.8334 13.542 36.4584 4.16699 25.0001 4.16699C13.5417 4.16699 4.16675 13.542 4.16675 25.0003C4.16675 36.4587 13.5417 45.8337 25.0001 45.8337Z" fill="#00A9DA"/>
                            <path d="M16.6666 25H33.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 33.3337V16.667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .accordion__content 
                        p.accordion__p Общая справка от педиатра, что ребёнок здоров, и анализы — кал на яйца глист и соскоб на яйца остриц (энтеробиоз).
                .accordion
                    button(type='button').accordion__button 
                        span Какие справки нужны родителям#[br]для групповых занятий с ребёнком?
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.0001 45.8337C36.4584 45.8337 45.8334 36.4587 45.8334 25.0003C45.8334 13.542 36.4584 4.16699 25.0001 4.16699C13.5417 4.16699 4.16675 13.542 4.16675 25.0003C4.16675 36.4587 13.5417 45.8337 25.0001 45.8337Z" fill="#00A9DA"/>
                            <path d="M16.6666 25H33.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 33.3337V16.667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .accordion__content 
                        p.accordion__p Справка от дерматолога, а мамам — ещё заключение гинеколога для бассейна.
                .accordion
                    button(type='button').accordion__button 
                        span Какие принадлежности нужны для занятий?
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.0001 45.8337C36.4584 45.8337 45.8334 36.4587 45.8334 25.0003C45.8334 13.542 36.4584 4.16699 25.0001 4.16699C13.5417 4.16699 4.16675 13.542 4.16675 25.0003C4.16675 36.4587 13.5417 45.8337 25.0001 45.8337Z" fill="#00A9DA"/>
                            <path d="M16.6666 25H33.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 33.3337V16.667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .accordion__content 
                        p.accordion__p • плавки или подгузник для плавания;#[br]• полотенце и пелёнка (если ребенок ещё не ходит);#[br]• мыльные принадлежности;• непромокающая сменная обувь;#[br]• по желанию — шапочка и плавательные очки.#[br]#[br]При необходимости всё это можно приобрести у нас в центре.
