mixin game()
    section.section.game    
        .game__body.container 
            .why__top 
                h2.title.why__title Интерактивная игра#[br]#[span для детей]
                p.why__p При оформлении абонемента каждому ребёнку выдаётся интерактивная карта с путём. После каждого занятия ребенок получает наклейку и клеит её на карту, достигнув звездочки на карте ему выдается диплом и подарок в виде игрушек, что пробуждает интерес и мотивацию посещать центр и заниматься. По достижению финиша выдаётся медаль и большой подарок.
            .game__img 
                img(src="@img/game.png", alt="" draggable="false")