mixin intro() 
    section.intro 
        .intro__body.container 
            h1.intro__title Центр плавания для детей<br><span>от 2 недель до 7 лет</span> «Осьминожки» 
            .intro__row 
                p.intro__p Грудничковое и детское плавание и гидрореабилитация. Индивидуальные и групповые занятия в бассейне. 
                button(type='button' data-target="callback").open-popup.btn.intro__btn Записаться на пробное занятие 
        .intro__img 
            img(src="@img/intro.png", alt="" draggable="false") 