mixin pool()
    section.section.pool 
        .pool__body.container 
            h2.pool__title.title Плавание для детей #[span в Казани]
            .pool__content 
                .pool__left
                    .pool__left-col
                        .pool__item 
                            p Укрепление здоровья малышей и обучение плаванию с 2 недель
                        .pool__item 
                            p Неглубокие бассейны небольшого диаметра с простым доступом к бортам
                    .pool__left-col
                        .pool__item 
                            p Индивидуальные и групповые тренировки под постоянным присмотром профессиональных инструкторов
                        a(href="#prices").pool__btn.btn Цены и абонементы 
                .pool__right 
                    .pool__img-1.pool__img  
                        img(src="@img/pool-1.png", alt="" draggable="false")
                    .pool__img-2.pool__img  
                        img(src="@img/pool-2.png", alt="" draggable="false")
                    .pool__img-3.pool__img  
                        img(src="@img/pool-3.png", alt="" draggable="false")