mixin prices()
    section.prices.section#prices
        .prices__body.container 
            h2.title.prices__title Цены и абонементы
            .prices__content 
                .prices__col
                    .prices__item 
                        p.prices__item-title Групповые занятия
                        .prices__item-info 
                            p.prices__item-price 950 ₽ /
                            p.prices__item-p 1 посещение #[br]#[span Длительность ~ 30 мин.]
                    .prices__item.blue 
                        p.prices__item-title Абонемент #[br]на групповые занятия
                        .prices__item-info 
                            p.prices__item-price 3 600 ₽ /
                            p.prices__item-p 4 занятия #[br]#[span Срок абонемента - 35 дней]
                        .prices__item-info 
                            p.prices__item-price 7 000 ₽ /
                            p.prices__item-p 8 занятий #[br]#[span Срок абонемента - 35 дней]
                        .prices__item-info 
                            p.prices__item-price 10 100 ₽ /
                            p.prices__item-p 12 занятий #[br]#[span Срок абонемента - 35 дней]
                .prices__col
                    .prices__item 
                        p.prices__item-title Индивидуальные занятия
                        .prices__item-info 
                            p.prices__item-price 1 250 ₽ /
                            p.prices__item-p 1 посещение #[br]#[span Длительность ~ 30 мин.]
                    .prices__item.blue 
                        p.prices__item-title Абонемент #[br]на индивидуальные занятия
                        .prices__item-info 
                            p.prices__item-price 4 600 ₽ /
                            p.prices__item-p 4 занятия #[br]#[span Срок абонемента - 35 дней]
                        .prices__item-info 
                            p.prices__item-price 9 000 ₽ /
                            p.prices__item-p 8 занятий #[br]#[span Срок абонемента - 35 дней]
                        .prices__item-info 
                            p.prices__item-price 13 100 ₽ /
                            p.prices__item-p 12 занятий #[br]#[span Срок абонемента - 35 дней]