mixin why()
    section.section.why
        .why__body.container 
            .why__top 
                h2.title.why__title Почему #[span «Осьминожки»]
                p.why__p Каждому ребёнку c рождения необходимо физическое развитие и укрепление иммунитета. Методика «Осьминожек» построена вокруг здоровья и интересов ребёнка. Положительные результаты занятий очевидны, поэтому довольные клиенты остаются с нами надолго.