// Тема по умолчанию
:root{
    --animation-smooth: 0.7s cubic-bezier(0.5, 0.5, 0, 1);
    --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    background: #F6F6F6;
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow-x: hidden;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
.btn{
    border-radius: 20px;
    background: #EB547D;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    transition: var(--animation-primary);
    will-change: transform;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    // border-radius: 2em;
    @media (hover: hover){
        &:hover{
            background: #FF5B88;
        }
        &:active{
            background: #C04C6C;
            transform: scale(0.99);
        }
    }
    &:active{
        background: #C04C6C;
        transform: scale(0.99);
    }
}
.link{
    transform: translateY(0%) rotate(0.001deg);
    transition: transform var(--animation-smooth);
    position: relative;
    border-radius: 8px;
    text-decoration: none;
    &:hover{
        .link{
            &-original-text{
                transform: translateY(-10%) scale(0.7) rotate(0.001deg);
                opacity: 0;
            }
            &-duplicate-text{
                transform: translateY(0%) scale(1) rotate(0.001deg);
                opacity: 1;
            }
            &-duplicate-fill{
                transform: translateY(0%) scale(1) rotate(0.001deg);
            }
        }
    }
    &-click{
        cursor: pointer;
        border: 0;
        background: transparent;
        min-height: 30px;
        border-radius: 8px;
        padding: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        will-change: transform;
        outline: 0;
        transform: translateZ(0) rotate(0.001deg);
        *{
            pointer-events: none;
        }
    }
    &-fill{
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        top: 0;
        left: 0;
        transition: var(--animation-primary), border 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transform: translateY(0%) scale(1) rotate(0.001deg);
    }
    &-text{
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        text-transform: uppercase;
        transition: all var(--animation-primary);
        transform: translateY(0%) scale(1) rotate(0.001deg);
    }
    &-duplicate-fill{
        background: #eb547d;
        transform: translateY(100%) scale(0.8) rotate(0.001deg);
    }   
    &-duplicate-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        transform: translateY(100%) scale(0.8) rotate(0.001deg);
    }
}
.title{
    color: #1F1F1F;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 30px;
    @include media(768){
        font-size: 36px;
    }
    @include media(480){
        font-size: 32px;
    }
    span{
        color: #00A9DA;
    }
}
.slider-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
    .title{
        margin-bottom: 0;
        @include media(480){
            max-width: 280px;
        }
    }
    &-nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        @include media(480){
            width: 130px;
            min-width: 130px;
            gap: 15px;
        }
    }
}
.swiper-button-prev,
.swiper-button-next{
    &:hover{
        svg path{
            fill: #00BBF1;
        }
    }
    &:active{
        svg path{
            fill: #0098C5;
        }
    }
    svg{
        path{
            fill: #00A9DA;
            transition: 300ms ease-out;
        }
    }
}
.input{
    border-radius: 20px;
    background: #FFF;
    color: #1F1F1F;
    border: none;
    padding: 25px 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    @include media(480){
        font-size: 16px;
    }
    &::placeholder{
        color: #1F1F1F;
        opacity: .5;
    }
}
.accordion{
    border-radius: 20px;
    background: #FFF;
    padding: 30px;
    &+.accordion{
        margin-top: 30px;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        color: #1F1F1F;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(768){
            font-size: 16px;
        }
        svg{
            position: relative;
            transition: 300ms ease-out;
        }
        &.active{
            svg{
                transform: rotate(-45deg);
            }
        }
        span{
            max-width: calc(100% - 60px);
        }
    }
    &__content{
        padding-top: 30px;
        display: none;
    }
    &__p{
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(768){
            font-weight: 400;
        }
    }
}
.privacy{
    padding-top: 100px;
    padding-bottom: 130px;
    @include media(992){
        padding-top: 70px;
        padding-bottom: 100px;
    }
    @include media(768){
        padding-top: 60px;
    }
    &__btn{
        padding: 21px;
        max-width: 407px;
        width: 100%;
        margin-bottom: 100px;
        @include media(1400){
            font-size: 20px;
            max-width: 249px;
            padding: 13px;
        }
    }
    &__title{
        color: #1F1F1F;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        @include media(480){
            font-size: 24px;
        }
    }
    &__p{
        margin-top: 40px;
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        a{
            color: #00A9DA;
            text-decoration: underline;
        }
    }
}
.breadcrumb{
    &__body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        span{
            opacity: 0.5;
        }
        &.active{
            span{
                opacity: 1;
            }
        }
    }
}
.details{
    padding-top: 50px;
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
        gap: 30px;
        @include media(1400){
            flex-direction: column;
            gap: 50px;
        }
        @include media(480){
            gap: 30px;
        }
    }
    &__img{
        line-height: 0;
        max-width: 625px;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        flex: 1 1 auto;
        position: relative;
        max-width: 651px;
        width: 100%;
    }
    &__title{
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 36px;
        position: relative;
        display: block;
        @include media(768){
            font-size: 36px;
            margin-bottom: 42px;
        }
        span{
            transform: rotate(5deg);
            padding: 15px 30px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; 
            border-radius: 20px;
            background: #00A9DA;
            display: block;
            width: max-content;
            margin-left: auto;
            @include media(768){
                margin-top: 10px;
            }
            @include media(480){
                font-size: 16px;
            }
        }
    }
    &__p{
        color: #1F1F1F;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(768){
            font-size: 18px;
        }
        @include media(480){
            font-size: 16px;
        }
    }
}
.gallery{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    @include media(1400){
        padding-top: 45px;
    }
    @include media(992){
        padding-top: 60px;
    }
    &__body{
        position: relative;
        height: 617px;
        padding: 0;
        @include media(1400){
            height: 826px;
        }
        @include media(992){
            height: 1042px;
        }
        @include media(768){
            width: 440px;
            height: 617px;
            margin-right: auto;
            margin-left: 0;
        }
        @include media(480){
            width: 320px;
            height: 449px;
        }
    }
    &__img{
        line-height: 0;
        width: max-content;
        height: max-content;
        position: absolute;
        &:nth-child(1){
            left: 0;
            top: 85px;
            @include media(1400){
                top: 67px;
            }
            @include media(992){
                top: 52px;
            }
            @include media(768){
                width: 184px;
                top: 31px;
            }
            @include media(480){
                width: 134px;
                top: 22px;
            }
        }
        &:nth-child(2){
            left: 397px;
            top: 33px;
            @include media(1400){
                top: 0;
                right: 295px;
            }
            @include media(992){
                right: auto;
                left: 397px;
            }
            @include media(768){
                width: 160px;
                left: 235px;
            }
            @include media(480){
                width: 116px;
                top: 0px;
                left: 171px;
            }
        }
        &:nth-child(3){
            right: 93px;
            top: 0px;
            @include media(1400){
                bottom: 0;
                top: auto;
                right: 24px;
            }
            @include media(992){
                right: auto;
                left: 92px;
            }
            @include media(768){
                width: 221px;
                left: 55px;
            }
            @include media(480){
                width: 161px;
                left: 40px;
            }
        }
        &:nth-child(4){
            left: 265px;
            bottom: 0px;
            @include media(1400){
                left: 279px;
                bottom: 227px;
            }
            @include media(992){
                right: auto;
                bottom: 458px;
            }
            @include media(768){
                top: 169px;
                left: 166px;
                width: 193px;
            }
            @include media(480){
                width: 140px;
                left: 121px;
                top: 122px;
            }
        }
        &:nth-child(5){
            right: 400px;
            bottom: 32px;
            @include media(1400){
                left: 12px;
                right: 0;
                bottom: 111px;
            }
            @include media(992){
                right: auto;
                left: 0;
                bottom: 342px;
            }
            @include media(768){
                width: 138px;
                left: 7px;
                bottom: 202px;
            }
            @include media(480){
                width: 100px;
                left: 5px;
                top: 201px;
            }
        }
        &:nth-child(6){
            right: 17px;
            bottom: 0px;
            @include media(1400){
                top: 187px;
                right: 0;
                bottom: auto;
            }
            @include media(992){
                right: auto;
                left: 472px;
                top: 545px;
            }
            @include media(768){
                left: 279px;
                bottom: 144px;
                top: auto;
                width: 161px;
            }
            @include media(480){
                width: 117px;
                left: 203px;
                bottom: 105px;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}